.logo{
       width:20px;
       height:20px;
}
.BannerMod{
    height: 100px;
    display: inline-block;
    background:rgba(32,166,231,.8) linear-gradient(180deg,#20a8e9,rgba(30,158,220,.5)) repeat-x;
    font:500 15px/20px sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

div {
    display: block;
}